[submodule "gc-l10n-invoice-header"]
    path = gc-l10n-invoice-header
    url = https://tu-servidor/repositorio/gc-l10n-invoice-header.git
[submodule "gc-odoo-account-tax-recalc"]
    path = gc-odoo-account-tax-recalc
    url = https://tu-servidor/repositorio/gc-odoo-account-tax-recalc.git
[submodule "gc-odoo-mail-button-removal"]
    path = gc-odoo-mail-button-removal
    url = https://tu-servidor/repositorio/gc-odoo-mail-button-removal.git
